{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <h1>School Information</h1>
    <div class="container">
        <form method = "POST" action = "">
            {{ form.hidden_tag() }}
            <form>
              <fieldset>
                <legend>Input School Information</legend>
                  <div class = "content-section">
                    {{ form.schoolName.label(class = "article-title") }}
                    {{ form.schoolName(class = "") }}
                  </div>
                  <div class="content-section">
                    {{ form.schoolDegree.label() }}
                    {{ form.schoolDegree() }}
                  </div>
                  <div class="form-group">
                    {{ form.schoolStartDate.label() }}
                    {{ form.schoolStartDate() }}
                  </div>
                  <div class="form-group">
                    {{ form.schoolEndDate.label(class="form-control-label") }}
                    {{ form.schoolEndDate(class="form-control form-contorl-lg") }}
                  </div>
                  <button class="buttonPress" type="submit">Next</button>
                </fieldset>
              </form>
            </form>
          </div>


    <div class="col-75">
      <select id="country" name="country">
        <option value="1">Test1</option>
        <option value="2">Test2</option>
        <option value="3">Test3</option>
      </select>
    </div>
{% endblock content%}
